@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  
}


h1{
  @apply font-bold text-Dark-Navy text-2xl mt-7 mb-[16px]  
}

p {
  @apply text-Gray text-[0.9375rem] mx-[16px]
}


